:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

html {
    font-size: 62.5%;
    font-family: "Outfit", Arial;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--Light-gray);
}

.qr-container {
    width: 28rem;
    min-height: 25rem;
    padding: 1.2rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--White);
}

.qr-container > .qr-img {
    width: 25rem;
    border-radius: 1.5rem;
    margin-bottom: 1rem;
}

.qr-container .qr-description {
    margin: 1rem;
    text-align: center;
    display: grid;
}

.qr-description__title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--Dark-blue);
    margin: 0.5rem 0;
}

.qr-description__paragraph {
    font-size: 1.5rem;
    color: var(--Grayish-blue);
    margin: 0.8rem 0;
}

.attribution {
    position: absolute;
    bottom: 2rem;
    color: var(--Grayish-blue);
}

.attribution a {
    text-decoration: none;
    color: var(--Dark-blue);
}